@import "src/App";

.gender-survey {
  display: grid;
  @media (min-width: $mobileDevice) {
    max-width: $mobileDevice;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
    grid-gap: 20px;
  }
  @media (min-width: $tabletDevice) {
    max-width: $tabletDevice;
  }

}

.gender-survey_header {
  display: grid;
  grid-gap: 20px;
  margin: 0;
  text-align: center;
  font-weight: 800;
  @media (min-width: $mobileDevice) {
    font-size: 30px;
    padding-bottom: 10px;
  }

  @media (min-width: $tabletDevice) {
    font-size: 40px;
  }
}

.gender-survey_header-colored {
  color: $green;
  @media (min-width: $mobileDevice) {
    font-size: 24px;
  }
  @media (min-width: $tabletDevice) {
    font-size: 32px;
  }
}

.gender-survey__question {
  @media (min-width: $mobileDevice) {
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    margin: 0;
  }
  @media (min-width: $tabletDevice) {
    font-size: 32px;
  }
}

.gender-survey__label {
  cursor: pointer;
  text-align: center;
  @media (min-width: $mobileDevice) {
    font-size: 18px;
    font-weight: 600;
  }
  @media (min-width: $tabletDevice) {
    font-size: 24px;
  }
}

.gender-survey__label-checked:first-of-type,
.gender-survey__label-checked:last-of-type {
  cursor: pointer;
  text-align: center;
  color: $deepBlue;
  font-weight: 800;
  @media (min-width: $mobileDevice) {
    font-size: 20px;
  }
  @media (min-width: $tabletDevice) {
    font-size: 30px;
  }
}

.gender-survey__label-checked:last-of-type {
  color: $rose;
}

.gender-survey__option {
  @media (min-width: $mobileDevice) {
    display: none;
  }
}

.gender-survey__feedback-survey-button,
.gender-survey__feedback-survey-button-active {
  cursor: pointer;
  background-color: $pureBlack;
  color: $pureWhite;
  font-weight: 800;
  border-radius: 20px;
  border: 2px solid $pureWhite;
  @media (min-width: $mobileDevice) {
    font-size: 20px;
    max-height: 40px;
  }
  @media (min-width: $tabletDevice) {
    font-size: 26px;
    max-height: 52px;
    min-width: $tabletDevice / 2;
    margin: 0 auto;
  }
}

.gender-survey__feedback-survey-button:hover {
  background-color: $green;
  color: $pureBlack;
}

.gender-survey__feedback-survey-button-active {
  background-color: $green;
  color: $pureBlack;
}

.gender-survey__feedback-survey-button-active:hover {
  background-color: $deepBlue;
  color: $pureBlack;
  border: none;
}

.gender-survey__feedback-next-question {
  font-weight: 800;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $pureBlack;
  background-color: $deepBlue;
  border-radius: 20px;
  @media (min-width: $mobileDevice) {
    font-size: 20px;
    max-height: 40px;
  }
  @media (min-width: $tabletDevice) {
    font-size: 26px;
    max-height: 52px;
    max-width: $tabletDevice / 2;
    margin: 0 auto;
  }
}

.gender-survey__feedback-next-question:active {
  color: $pureWhite;
}

.gender-survey__modal-window {
  font-size: 24px;
  color: $pureRed;
  font-weight: 600;
  text-align: center;
}

.gender-survey__feedback-survey-answer {
  color: $pureRed;
}