@import "src/App";

.city-survey {
  display: grid;
  @media (min-width: $mobileDevice) {
    max-width: $mobileDevice;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 0.05fr) ;
    grid-gap: 20px;
    padding-bottom: 40px;
  }
  @media (min-width: $tabletDevice) {
    max-width: $tabletDevice;
  }
}

.city-survey__question {
  margin: 0;
  color: $green;
  @media (min-width: $mobileDevice) {
    font-size: 24px;
    font-weight: 800;
  }
  @media (min-width: $tabletDevice) {
    font-size: 32px;
  }
}

.city-survey__question-breaker {
  @media (min-width: $tabletDevice) {
    display: none ;
  }
}

.city-survey__options {
  cursor: pointer;
  @media (min-width: $mobileDevice) {
    max-height: 40px;
    font-size: 20px;
    font-weight: 600;
    border: 3px solid $green;
  }
  @media (min-width: $tabletDevice) {
    max-height: 52px;
    font-size: 26px;
    padding-left: 10px;
  }
}

.city-survey__option {
  background-color: $green;
  color: $pureBlack;
}

.city-survey__feedback {
  @media (min-width: $mobileDevice) {
    display: grid;
    grid-gap: 20px;
  }
}

.city-survey__feedback-textarea {
  @media (min-width: $mobileDevice) {
    width: 100%;
    min-height: 100px;
    max-height: 140px;
    font-size: 20px;
    padding: 0;
    resize: none;
    border: 3px solid $green;
  }
  @media (min-width: $tabletDevice) {
    min-height: 140px;
    max-height: 180px;
    font-size: 26px;
  }
}

.city-survey__feedback-email {
  @media (min-width: $mobileDevice) {
    max-width: $mobileDevice;
    font-size: 16px;
  }

  @media (min-width: $tabletDevice) {
    max-width: $tabletDevice;
    font-size: 20px;
  }
}

.city-survey__feedback-email-input {
  padding: 0;
  border: 3px solid $green;
  @media (min-width: $mobileDevice) {
    width: 100%;
    font-size: 20px;
    min-height: 20px;
    max-height: 30px;
    margin-top: 20px;
  }
  @media (min-width: $tabletDevice) {
    font-size: 26px;
    min-height: 26px;
    max-height: 40px;
    margin-top: 26px;
  }
}

.city-survey__feedback-label {
  @media (min-width: $mobileDevice) {
    width: 100%;
  }
  @media (min-width: $tabletDevice) {
    font-weight: 600;
  }
}

.city-survey__feedback-warning {
  color: $pureRed;
  @media (min-width: $mobileDevice) {
    font-size: 12px;
    font-weight: 600;
  }

  @media (min-width: $tabletDevice) {
    font-size: 16px;
  }
}

.city-survey__feedback-survey-button,
.city-survey__feedback-ending {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  background-color: $green;
  color: $pureBlack;
  font-weight: 800;
  border-radius: 20px;
  border: 2px solid $pureWhite;
  @media (min-width: $mobileDevice) {
    font-size: 24px;
    max-height: 40px;
  }
  @media (min-width: $tabletDevice) {
    font-size: 32px;
    max-height: 52px;
    max-width: $tabletDevice;
    margin: 0 auto;
    padding: 0 60px 0 60px;
  }
}

.city-survey__feedback-survey-button:hover {
  background-color: $deepBlue;
  color: $pureBlack;
  border: 2px solid $deepBlue;
}

.city-survey__feedback-ending {
  @media (min-width: $tabletDevice) {
    padding: 0 85px 0 85px;
  }
}

.city-survey__feedback-ending:hover {
  background-color: $pureBlue;
  border: 2px solid $deepBlue;
}

.city-survey__feedback-ending:active {
  color: $pureWhite;
}

.city-survey__modal-window {
  color: $deepBlue;
  font-weight: 600;
  text-align: center;
  @media (min-width: $mobileDevice) {
    font-size: 24px;
  }

  @media (min-width: $tabletDevice) {
    font-size: 32px;
  }
}

.city-survey_feedback-sending-button,
.city-survey__feedback-sending-button-disabled {
  cursor: pointer;
  background-color: $green;
  color: $pureBlack;
  font-weight: 800;
  border-radius: 20px;
  border: none;
  @media (min-width: $mobileDevice) {
    min-height: 40px;
    font-size: 18px;
  }
  @media (min-width: $tabletDevice) {
    min-height: 52px;
    font-size: 24px;
    max-width: $tabletDevice / 2;
    margin: 0 auto;
    padding: 0 20px 0 20px;
  }
}
.city-survey_feedback-sending-button:hover {
  background-color: $deepBlue;
}

.city-survey_feedback-sending-button:active {
  color: $pureWhite;
}

.city-survey__feedback-sending-button-disabled {
  background-color: $grey;
}

.city-survey__chosen-option {
  @media (min-width: $mobileDevice) {
    font-size: 16px;
    font-weight: 800;
    width: 100%;
  }
  @media (min-width: $tabletDevice) {
    font-size: 24px;
  }
}

.city-survey__chosen-option-colored {
  color: $green;
}