@import 'src/App';

.surveys {
  display: flex;
  flex-direction: column;
  @media (min-width: $mobileDevice) {
    margin: 0 auto;
    max-width: $mobileDevice;
    padding: 20px;
    min-height: 900px;
  }
  @media (min-width: $tabletDevice) {
    max-width: $tabletDevice;
    padding: 26px;
  }
  @media (min-width: $desktopDevice) {
    max-width: $desktopDevice;
  }
  @media (min-width: $largeDesktopDevice) {
    max-width: $largeDesktopDevice;
  }
}

.surveys__languages {
  display: grid;
  @media (min-width: $mobileDevice) {
    grid-gap: 10px;
    max-height: 100px;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 600;
  }
}

.surveys__language-apply {
  @media (min-width: $mobileDevice) {
    cursor: pointer;
    max-height: 24px;
    font-size: 20px;
    font-weight: 600;
    margin: 0 auto;
    background-color: $pureBlack;
    border: none;
    padding: 0 20px 0 20px;
    color: $pureRed;
    border-radius: 20px;
  }
}

.surveys__language-apply:hover {
  color: $pureBlack;
  background-color: $green;
}

.surveys__languages-proposal {
  text-align: center;
  color: $pureRed;
}

.surveys__languages-section {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.surveys__language {
  max-height: 30px;
  cursor: pointer;
  border-radius: 20px;
}

.surveys__language-colored {
  max-height: 30px;
  cursor: pointer;
  background-color: $green;
  border-radius: 20px;
}

.surveys__language-option {
  display: none;
  @media (min-width: $mobileDevice) {

  }
}

.surveys__language:hover {
  background-color: $deepBlue;
}

.surveys__header {
  margin: 0;
  font-size: 20px;
  text-align: center;
  padding-bottom: 30px;
  font-weight: 800;
}

