@import 'src/App';

.surveys {
  display: flex;
  flex-direction: column;
  @media (min-width: $mobileDevice) {
    margin: 0 auto;
    max-width: $mobileDevice;
    padding: 20px;
    min-height: 900px;
  }
  @media (min-width: $tabletDevice) {
    max-width: $tabletDevice;
    padding: 26px;
    min-height: 1000px;
  }
  @media (min-width: $desktopDevice) {
    max-width: $desktopDevice;
  }
  @media (min-width: $largeDesktopDevice) {
    max-width: $largeDesktopDevice;
  }
}

.surveys__languages {
  display: grid;
  grid-gap: 10px;
  max-height: 120px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 600;
}

.surveys__languages-proposal {

}

.surveys__language {
  max-height: 30px;
}

.surveys__language-option {
  display: none;
}

.surveys__header {
  margin: 0;
  font-size: 20px;
  text-align: center;
  padding-bottom: 30px;
  font-weight: 800;
}

