// media queries
$mobileDevice: 320px;
$tabletDevice: 768px;
$desktopDevice: 1024px;


//colors
$pureBlack: #000000;
$pureWhite: #ffffff;
$pureBlue: #618DFF;
$pureRed: #DF0000;
$green: #65d9a5;
$deepBlue: #007aff;
$rose: #f140a9;
$grey: #918b8c;

.App {
  display: flex;
  flex-direction: column;
  position: relative;
  @media only screen and (min-width: $mobileDevice) {
    min-height: 900px;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
  }
  @media only screen and (min-width: $desktopDevice) {
    min-height: 1300px;
  }
  background-color: $pureBlack;
  color: $pureWhite;
}