@import "src/App";

.gratitude {
  display: grid;
  margin: 0 auto;
  @media (min-width: $mobileDevice) {
    max-width: $mobileDevice;
    grid-template-rows: 0.1fr 0.1fr;
    grid-gap: 20px;
  }
  @media (min-width: $tabletDevice) {
    max-width: $tabletDevice;
    grid-gap: 40px;
  }
}

.gratitude__header__breaker {
  @media (min-width: $tabletDevice) {
    display: none;
  }
}

.gratitude__header {
  margin: 0;
}

.gratitude__header,
.gratitude__exit-link,
.gratitude__company-link {
  font-weight: 800;
  text-align: center;
  @media (min-width: $mobileDevice) {
    font-size: 20px;
  }
  @media (min-width: $tabletDevice) {
    font-size: 26px;
  }
}

.gratitude__exit-link,
.gratitude__company-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $green;
  text-decoration: none;
  @media (min-width: $mobileDevice) {
    max-width: $mobileDevice;
    max-height: 40px;
  }
  @media (min-width: $tabletDevice) {
    max-height: 52px;
    min-width: $tabletDevice / 1.5;
    margin: 0 auto;
  }
}

.gratitude__company-link {
  border: 2px solid $green;
  border-radius: 10px;
}

.gratitude__company-link:hover {
  background-color: $green;
  color: $pureBlack;
}

.gratitude__exit-link {
  border-radius: 10px;
  background-color: $green;
  color: $pureBlack;
}

.gratitude__exit-link:hover {
  background-color: $deepBlue;
  color: $pureBlack;
}

.gratitude__exit-link:active {
  color: $pureWhite;
}