@import "src/App";

.gratitude {
  display: grid;
  @media (min-width: $mobileDevice) {
    grid-template-rows: 0.2fr 0.1fr 0.1fr;
    grid-gap: 40px;
  }

}

.gratitude__header {
  margin: 0;
}

.gratitude__header,
.gratitude__exit-link,
.gratitude__company-link {
  @media (min-width: $mobileDevice) {
    font-weight: 800;
    font-size: 20px;
    text-align: center;
  }
}

.gratitude__exit-link,
.gratitude__company-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $green;
  text-decoration: none;
  font-size: 20px;
  max-height: 40px;
}

.gratitude__company-link {
  border: 2px solid $green;
  border-radius: 10px;
}

.gratitude__company-link:hover {
  background-color: $green;
  color: $pureBlack;
}

.gratitude__exit-link {
  border-radius: 10px;
  background-color: $green;
  color: $pureBlack;
}

.gratitude__exit-link:hover {
  background-color: $deepBlue;
  color: $pureBlack;
}